@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --bg: 0 0% 100%;
  --fg: 240 10% 3.9%;
  --muted: 240 5% 96%;
  --border: 240 6% 90%;
  --primary: 222 89% 55%;
  --accent: 38 92% 50%;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  background: hsl(var(--bg));
  color: hsl(var(--fg));
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

.animate-shimmer {
  animation: shimmer 6s linear infinite;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}